/**
 * Your custom style
 */

// shrink elements on scroll
body.shrink {}

// sticky footer
@media (min-width: map-get($grid-breakpoints, "sm")) {
    html, body {
        height: 100%;
        min-height: 100%;
    }

    .wrapper {
        min-height: 100%;
        padding-top: $grid-gutter-height;
        padding-bottom: 2rem;
    }

    .site-footer {
        height: 2rem;
        margin-top: -2rem;
    }
}

// element col paddings
.col-block {
    padding: $grid-gutter-height / 4;
}

// rewrite btn opacity on hover
.btn {
    &:hover,
    &:focus {
        opacity: 1;
    }
}
