/**
 * Your custom style
 */
body {
    position: relative;
}
.field {
    margin: 2rem 0;
    &.required:after {
        display: none;
    }
}
.form-control,
.select2-container--default .select2-selection,
.select2-dropdown .select2-search__field {
    border-width: 0 0 1px 0;
}

.bg-alt {
    @extend .bg-dark;

    background-color: $bg-alt !important;
}

.bootstrap-select .dropdown-toggle .filter-option .option {
    background: #dedede;
    padding: 0.2rem 0.5rem;
    margin: 0.2rem;
    color: #212529;
}

$full-body-min-width: map-get($grid-breakpoints, 'sm') !default;

@media (max-width: $full-body-min-width - 1) {
    .jsSidebarUI__inner {
        width: auto !important;
        transform: none !important;
        position: static !important;
    }
}

.dropdown-menu {
    padding: 0;
    border-radius: 0;

    .dropdown-list {
        @extend .list-unstyled;
    }

    .dropdown-menu {
        top: 0;
        left: 100%;
    }
}

// shrink elements on scroll
body.shrink {
}

// sticky footer
@media (min-width: $full-body-min-width) {
    /*body {
        height: 100%;
        min-height: 100%;
    }*/

    .wrapper {
        min-height: 100%;
        padding-bottom: $footer-size + $footer-bar-size + $grid-gutter-height /
            2;

        //padding-top: $grid-gutter-height;
    }

    .footer {
        height: $footer-size + $footer-bar-size + $grid-gutter-height / 2;
        margin-top: -($footer-size + $footer-bar-size + $grid-gutter-height / 2);
    }
}

// site blocks (elements)
.element {
    background-size: cover;
    background-repeat: no-repeat;

    &.site__elements__sliderelement {
        .element-container {
            width: 100%;
            padding: 0;
            max-width: none;
        }
    }

    &.dynamic__elements__image__elements__elementimage {
        text-align: center;
    }

    &.site__elements__accordion {
        .card {
            padding-left: 0;
            padding-right: 0;

            .card-header {
                @extend .bg-dark;
            }
        }
    }
}

.sidebar__col {
    position: relative;
    margin-bottom: $grid-gutter-element-height * 2;
}
.content-holder__sidebar {
    > .container {
        padding: 0;
    }
}

#SiteWideMessage {
    text-align: center;
    .alert {
        margin-bottom: 0;
        .btn-close {
            margin-top: -0.5rem;
            float: right;
        }
    }
}

// stick navbar to top using mobile layout
/*#Header {
    position: relative;
    padding-top: $grid-gutter-height / 2;
    padding-bottom: 1rem;

    @media (min-width: map-get($grid-breakpoints, "lg")) {
        padding-top: 1rem;
        padding-bottom: 0;
    }
}

#Navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    @media (min-width: map-get($grid-breakpoints, "lg")) {
        position: relative;
        margin-top: 1rem;
    }
}*/

#MainContent {
    padding-top: $grid-gutter-element-height;
    padding-bottom: $grid-gutter-element-height;
}

#PageBreadcumbs {
    position: relative;
    z-index: 2;
}

#Footer {
    background-color: $dark;
    color: darken($white, 5%);
    > .wrapper {
        padding-top: $grid-gutter-element-height;
    }

    a {
        color: $white;
    }

    ul {
        margin-bottom: 0;
    }

    .footer {
        background-color: darken($dark, 5%);

        .copyright {
            padding-right: 0.5rem;
        }

        li {
            padding: 0 0.5rem;
        }
    }

    @media (min-width: $full-body-min-width) {
        .wrapper {
            padding-bottom: $footer-bar-size;
        }

        .footer {
            height: $footer-bar-size;
            margin-top: -$footer-bar-size;
            line-height: $footer-bar-size;
        }
    }
}
