@import "../_variables";

@import "~bootstrap/scss/tables";

.image {
    &.left {
        float: left;
        clear: left;
        margin: 0 1rem 1rem 0;
    }

    &.center {
        display: block;
        margin: 1rem auto;
    }

    &.right {
        float: right;
        clear: right;
        margin: 1rem 0 0 1rem;
    }
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;

    @extend .table;

    @extend .table-bordered;
}

table {
    &.table-none {
        border: 0;

        tr, td, th {
            border: 0;
            background: none !important;
        }
    }
}
