.carousel {
    &-caption {
        font-size: 3rem;
        padding: 6rem 0;
    }
    &-title {
        font-size: 4rem;
    }

    &-content {
        font-style: italic;
    }

    &__img {
        min-width: 100%;
        background-size: cover;
    }
}


.glide__slide {
    video {
        pointer-events: none;
        background: $black;
        aspect-ratio: 1920/549;
        min-width: 100%;
        max-width: 100%;
        min-height: 20rem;
        object-fit: cover;

        &::after {
            position: absolute;
            z-index: 9;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            content: "";
        }
    }

    video::-webkit-media-controls,
    video::-moz-media-controls,
    video::-o-media-controls,
    video::-ms-media-controls,
    video::-webkit-media-controls-enclosure,
    video::-webkit-slider-thumb,
    video::-moz-range-track,
    video::-moz-range-thumb {
        display: none !important;
    }
}

.a2nt__elementalbasics__elements__sliderelement {
    padding: 0;

    .element__container {
        max-width: none;
        padding: 0;
    }

    .slide-link__media {
        opacity: 0;
    }

    .carousel-item {
        &:hover,
        &:focus {
            .carousel__btn {
                color: $white !important;

                @extend .btn-primary,
                :hover;
            }
        }
    }
}
