/**
 * Your custom style
 */

body {
}

/*#MainContent {
	padding-top: 2 * $element-reduced-spacer-y;
	padding-bottom: 2 * $element-reduced-spacer-y;
}*/

// disable animation
main {

    &.loaded,
    &.loading {
        animation: none;
    }
}

#PageBreadcumbs {
    padding-bottom: 0;
    margin-bottom: -2rem;
}

.page-header-element {
    display: none !important;
}

// hide content loading anmation by default
//.form-container,
main {
    &.loaded,
    &.loading {
        animation: none;
    }
}
