/**
 * Your custom style
 */

body {
}

/*#MainContent {
	padding-top: 2 * $element-reduced-spacer-y;
	padding-bottom: 2 * $element-reduced-spacer-y;
}*/


#PageBreadcumbs {
    padding-bottom: 0;
    margin-bottom: -2rem;
}

.page-header-element {
    display: none !important;
}
