#Footer {
  background-color: $footer-bg;
  border-top: 1px solid #ebebeb;
  color: $footer-color;
  display: flex;
  flex-direction: column;

  > .wrapper {
    padding-bottom: $element-reduced-spacer-y;
    padding-top: $element-reduced-spacer-y;
  }

  a,
  .a {
    color: $footer-link;
  }

  .footer {
    background-color: $footer-footer-bg;
    padding-bottom: $element-reduced-spacer-y;
    padding-top: $element-reduced-spacer-y;

    .copyright {
      padding-right: 0.5rem;
    }

    li {
      padding: 0 0.5rem;
    }
  }
}
