#SiteWideMessage {
  text-align: center;

  .alert {
    margin-bottom: 0;

    .btn-close {
      float: right;
      margin-top: -0.5rem;
    }
  }
}

#Header {
    .element {
        margin-top: 0;
    }
  .nav-container {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    position: static;
  }
}
