#Header {
    .element--nav {
        padding: 0;
    }
}

#Navigation {
    padding: 0;

    .navbar-nav {
        width: 100%;
        padding: 0;

        align-items: stretch;
        justify-content: stretch;
    }

    .nav {
        &-item {
            flex: 1 1;
        }

        &-link {
            width: 100%;
            background: none;

            align-items: center;
            justify-content: center;

            &.active {
            }

            &.section {
            }

            &[aria-expanded="true"],
            &:hover,
            &:focus {
            }
        }
    }


    .dropdown-toggle {
        &:after {
            display: none;
        }
    }

    @media (min-width: $full-body-min-width) {
        .dropdown-toggle-touch {
            display: none !important;
        }

        .dropdown-toggle-notouch {
            display: flex !important;
        }
    }

    .dropdown-menu {
        top: 100%;
        min-width: 18em;
        border: 0;
        .dropdown-menu {
            top: 0;
        }
    }

    .dropdown-item {
        &.active,
        &:active {
        }
        .nav {
            &-item {
                &[aria-expanded="true"],
                &:hover,
                &:focus {
                }
            }

            &-link {
                justify-content: flex-start;
            }
        }
    }
}

#PageBreadcumbs {
    position: relative;
    z-index: 2;
}
