#Navigation {
  background: $header-bg;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  width: 100%;

  .navbar-nav {
    justify-content: flex-end;
    width: 100%;
  }

  .navbar-toggler {
    color: $main-nav-link-color;
    font-size: $main-nav-toggler-size;
  }

  .nav-item,
  .nav-link {
    flex-direction: column;
    /*@media (min-width: $full-body-min-width) {
            align-items: center;
            justify-content: center;
            text-align: center;
        }*/
  }

  .nav-link {
    background: $main-nav-link-bg;
    color: $main-nav-link-color;

    &:focus,
    &:hover,
    &.active {
      background: $main-nav-link-hover-bg;
      color: $main-nav-link-hover-color;
    }
  }

  .active {
    > .nav-link {
      background: $main-nav-link-hover-bg;
      color: $main-nav-link-hover-color;
    }
  }

  .nav-item .nav-dropdown {
    .fa-chevron-right //&:after
    {
      display: none;
    }
  }

  .dropdown-menu {
    background: $main-nav-dropdown-bg;
    border-color: $main-nav-dropdown-bg;
    border-top: 0;
    margin-top: 0;
    min-width: 100%;

    .nav-item-link {
      color: $main-nav-dropdown-color;
    }
  }

  .dropdown-item {
    &.active,
    &:active,
    &:focus,
    &:hover {
      background: $main-nav-dropdown-hover-bg;

      .nav-item-link {
        color: $main-nav-dropdown-hover-color;
      }
    }

    .nav-item-link {
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
    }
  }

  @media (min-width: $full-body-min-width) {
    .navbar-nav > .nav-item {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .dropdown-item .nav-item-link {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

#PageBreadcumbs {
  position: relative;
  z-index: 2;
}
