/*
 * Bootstrap carousel improvement
 */

/*.carousel-item {
    &.active {
        display: flex !important;
        justify-content: center;
        align-items: flex-start;
    }
}*/

.carousel-slide {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .video {
        width: 100%;

        iframe {
            width: 100% !important;
            height: auto !important;
        }
    }

    .img {
        display: block;
        width: 100%;
    }
}

.carousel-control-prev,
.carousel-control-next {
    z-index: 2;
    font-size: 3rem;
    text-shadow: 1px 1px #000;

    &:hover,
    &:focus {
        background: rgba(0, 0, 0, 0.6);
    }
}

.carousel-indicators li {
    box-shadow: none;

    // 1px 1px #000;
}

.carousel-title {
    color: #fff;
}

.carousel-title,
.carousel-content {
    text-shadow: 1px 1px #000;
}
