@import "../variables";
@import "~mapbox-gl/dist/mapbox-gl.css";

.mapAPI-map {
    height: 30rem;
    margin-bottom: 1rem;
}

.mapboxgl-popup-content {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4);

    .mapboxgl-popup-close-button {
        font-size: 2rem;
        padding: .5rem;

        &:hover,
        &:focus {
            background: $primary;
            color: $white;
        }
    }
}

.mapboxgl-marker {
    width: 30px;
    height: 30px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    color: $primary;

    .fas {
        animation: pulse 0.8s linear infinite;
    }
}
